<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'peliculas/style.css' %}">

    <title>Iniciar sesión</title>

</head>
<body>
    <form class="login-form" method="post">
        {% csrf_token %}
        <h2>Iniciar sesión</h2>
        {{ form.as_p }}
        <button type="submit">Iniciar sesión</button>
        <p>¿No tienes cuenta? <a href="{% url 'registro' %}" class="btn-register">Regístrate aquí</a></p>
    </form>
</body>
</html>


<!-- 
Usuario angel
email angel@gmail.com
password cpcruz29

-->